<%- include('header') -%>
    <%- include('navbar') -%>
        <div class="container" style="height: 100vh">
            <div class="row">
                <div class="col-12">
                    <h2>
                        <%= felhasznalo.nev %> számítógépei:
                    </h2>
                    <div class="table-responsive-lg">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th>
                                    Név
                                </th>
                                <th>
                                    Processzor
                                </th>
                                <th>
                                    Memória
                                </th>
                                <th>
                                    Videókártya
                                </th>
                                <th>
                                    Alaplap
                                </th>
                                <th>
                                    Tápegység
                                </th>
                                <th>
                                    Ház
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                            </tr>
                            <% szamitogepek.forEach(function(szamitogep){ %>
                                <tr>
                                    <td>
                                        <%=szamitogep.nev%>
                                    </td>
                                    <td>
                                        <%=szamitogep.processzor%>
                                    </td>
                                    <td>
                                        <%= szamitogep.memoria%>
                                    </td>
                                    <td>
                                        <%= szamitogep.videokartya%>
                                    </td>
                                    <td>
                                        <%= szamitogep.alaplap%>
                                    </td>
                                    <td>
                                        <%= szamitogep.tapegyseg%>
                                    </td>
                                    <td>
                                        <%= szamitogep.haz%>
                                    </td>
                                    <td style="width:30px;white-space: nowrap">
                                        <a href="/szamito/<%=felhasznalo._id%>/edit/<%=szamitogep._id%>"
                                            class="btn btn-sm btn-outline-dark"><i class="far fa-edit"></i></a>
                                        <a href="/szamito/<%=felhasznalo._id%>/del/<%=szamitogep._id%>"
                                            class="btn btn-sm btn-outline-danger"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                <% }) %>
                        </table>
                    </div>
                    <br />
                    <a href="/szamito/<%=felhasznalo._id%>/new" btn btn pull-right btn-outline-dark"
                        style="max-width: 250px">Új számítógép
                        hozzáadása</a>
                </div>
            </div>
        </div>
        <%- include('footer')-%>